<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h2>About Word Count</h2>
    <p>
        Word count is a little page I made that counts the number of words in whatever text the user inputs.
        <br>The page also counts each word and orders the words by the most common first
    </p>
    <p/>
    <!--<a href="{% url 'homepage' %}">Start again</a>-->
    <a href="javascript:history.go(-1)">Back</a>
    <p>Copyright James Rhodes 2019</p>
</body>
</html>